@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #e9dac5;
    --font: #ddd;
    --black: #3a3a3c;
    --grey: #68696b;
    --light-grey: #d5d6d8;
    --frame: #ab7b4e;
}

body {
    background: var(--bg);
    height: 100vh;
    font-size: 3.5vmin;
    overflow: hidden;
}

.drawing-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vmin;
    width: 80vmin;
    display: grid;
    place-content: center;
    font-family: 'Sacramento', cursive;
    font-size: 3.5vmin;
    color: var(--black);
    text-align: center;
    line-height: 90vmin;
    background:
        /* bow-tie */
        radial-gradient(circle at center, var(--black) 70%, #0000 0) 39.1vmin 70vmin / 2vmin 4vmin,
        radial-gradient(circle at center, var(--bg) 70%, #0000 0) 38.8vmin 69vmin / 2.5vmin 5vmin,

        conic-gradient(from 70deg at 0% 50%, var(--black) 40deg, #0000 0) 38.5vmin 68.25vmin / 7.5vmin 7.5vmin,
        conic-gradient(from 250deg at 100% 50%, var(--black) 40deg, #0000 0) 34vmin 68.25vmin / 7.5vmin 7.5vmin,

        /* monocle */
        radial-gradient(circle at 44.75vmin 52.75vmin, var(--light-grey) 2.85vmin, #0000 0),
        radial-gradient(circle at 45vmin 52.5vmin, #fff 2.75vmin, #0000 0),
        radial-gradient(circle at 45vmin 52.5vmin, var(--light-grey) 3.25vmin, var(--black) 0 4vmin, #0000 0),
        radial-gradient(circle at 49vmin 52.5vmin, var(--bg) .5vmin, var(--black) 0 .75vmin, #0000 0),
        linear-gradient(var(--black) 0 0) 49.5vmin 52.5vmin / .25vmin 20vmin,

        /* mustache */
        radial-gradient(circle at center, var(--black) 70%, #0000 0) 36vmin 59vmin / 4vmin 4vmin,
        radial-gradient(ellipse 100% 80% at center, var(--bg) 50%, #0000 0) 28.75vmin 56vmin / 7.5vmin 7.5vmin,
        radial-gradient(ellipse 100% 30% at 36vmin 62vmin, var(--black) 5.5vmin, #0000 0),

        radial-gradient(circle at center, var(--black) 70%, #0000 0) 40vmin 59vmin / 4vmin 4vmin,
        radial-gradient(ellipse 100% 80% at center, var(--bg) 50%, #0000 0) 43.75vmin 56vmin / 7.5vmin 7.5vmin,
        radial-gradient(ellipse 100% 30% at 44vmin 62vmin, var(--black) 5vmin, #0000 0),

        /* hat */
        radial-gradient(ellipse 100% 35% at 40vmin 11vmin, var(--grey) 11.5vmin, #0000 0),
        radial-gradient(ellipse 100% 40% at 40vmin 30.5vmin, var(--black) 9vmin, #0000 0),
        radial-gradient(ellipse 100% 40% at 40vmin 36.5vmin, var(--light-grey) 8.75vmin, #0000 0),

        linear-gradient(97deg, var(--light-grey) 49%, #0000 0) 45.25vmin 30vmin / 7.5vmin 7.5vmin,
        linear-gradient(83deg, #0000 49%, var(--light-grey) 0) 27.75vmin 30vmin / 7.5vmin 7.5vmin,
        linear-gradient(97deg, var(--black) 50%, #0000 0) 40vmin 10.7vmin / 20.5vmin 20.5vmin,
        linear-gradient(83deg, #0000 49%, var(--black) 0) 20vmin 10.7vmin / 20.5vmin 20.5vmin,

        radial-gradient(ellipse 100% 35% at 40vmin 39vmin, var(--black) 17vmin, #0000 0),

        /* frame */
        radial-gradient(ellipse 75% 100%at center, var(--bg) 40%, var(--frame) 0 45%, var(--bg) 0),
        var(--bg);
    background-repeat: no-repeat;

}